/* Import TailwindCSS (this is not needed if you are using the CDN, you can remove this line) */
@import "tailwindcss";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,700;1,700&display=swap');

/* Custom Styles */
body {
  height: 100%;
  margin: 0 auto;
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 180px;
  text-align: center;
  overflow: hidden;
}

.firstletter, .secondletter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.common {
  color: white;
  transform: translate(0%, -100%);
  font-size: 180px;
  animation: drop 3s ease infinite;
}

.six {
  animation-delay: 1.4s;
}

.seven {
  animation-delay: 1.5s;
}

.eight {
  animation-delay: 1.6s;
}

.nine {
  animation-delay: 1.7s;
}

.ten {
  animation-delay: 1.8s;
}

.eleven {
  animation-delay: 1.9s;
}

/* Animation */
@keyframes drop {
  0% {
    transform: translate(0%,-100%);
  }

  50% {
    transform: translate(0%,0%);
  }

  100% {
    transform: translate(0%,100%);
  }
}
